---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <audio id="audio" loop>
      <source src="public/sounds/wazzup-beijing.mp3" type="audio/mpeg" />
       Your browser does not support the audio element.
    </audio>

    <script>
      window.onload = function () {
        document.getElementById("audio").play();
      };
    </script>

    <main>
      <marquee>
        在这里，大海闪闪发光 强风吹过 在一座老旧的露台上 面对苏连托湾
        一个男人拥抱着一个女孩 在她哭过之后 然后他清了清嗓子 重新开始唱歌
        我非常非常爱你 你知道我有多么深爱你 这已经是一种锁链
        它解开了你血液中的热情 他看到了海中的灯光 他想起了美国的夜晚
        但那只是渔火 在一架螺旋桨的白色痕迹中 他感受到了音乐的痛苦
        他从钢琴旁站起来 但当他看到月亮从云中出现 他觉得即使是死亡也变得更甜
        他看着那个女孩的眼睛 那双眼睛如同海洋般绿色 突然，一滴眼泪流出
        他以为自己要淹没 我非常非常爱你 你知道我有多么深爱你 这已经是一种锁链
        它解开了你血液中的热情 歌剧的力量 在这里，每一场戏剧都是假的
        只需要一点化妆和一点演技 你就可以变成另一个人 但是那双眼睛正在看着你
        如此接近，如此真实 他们让你忘记了说话 混淆了你的思绪 这样一切都变得微小
        包括美国的夜晚 你转过头，看到了你的生活 如同螺旋桨的痕迹
        是的，生命正在结束 但他并没有过多考虑 事实上，他已经感到非常快乐
        他重新开始唱歌 我非常非常爱你 你知道我有多么深爱你 这已经是一种锁链
        它解开了你血液中的热情 我非常非常爱你 你知道我有多么深爱你
        这已经是一种锁链 它解开了你血液中的热情，你血液中的热情
      </marquee>

      <img
        src="/images/realitylife.jpg"
        alt="this is a photo about real reality"
      />

      <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        deserunt, assumenda molestiae dicta dignissimos velit hic, fugit cum
        totam cupiditate maxime illum voluptate obcaecati aliquam nostrum
        reprehenderit distinctio reiciendis laboriosam!
      </h4>

      <img
        src="/images/363881300_299284992514723_2590551378719967552_n.png"
        alt="this is a photo about real reality"
      />

      <img
        src="/images/realitylife.jpg"
        alt="this is a photo about real reality"
      />
    </main>
  </body>
</html>
